@import 'normalize.css';


.navigation {
    background-color: rgba(0, 100, 0, 0.95);
    text-align:center;
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    z-index: 9999;
}

.navigation li {
    display: inline-block; 
    padding-top: 5%;
    padding-bottom: 5%;
}
.navigation a {
    text-decoration-color: black;
    color: black;
    font-size: 200%;
}

.header {
    text-align: center;
    padding-top: 20%;
}
.text {
    
}
@media screen and (max-width: 500px){
    .navigation a{
        font-size: 150%;
    }
    .navigation li{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}