@import 'normalize.css';

.background {
    background-color: rgba(0,100,0,0.5)
}
.navigation {
    width: 100%;
    background-color: rgb(0, 100, 0);
    text-align:center;
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    z-index: 9999;
}

.navigation li {
    display: inline-block; 
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigation a {
    text-decoration-color: black;
    color: black;
    font-size: 15;
}

.header {
    text-align: center;
    padding-top: 100px;
}

.text {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
}
.image1{
    display: block;
    margin: auto;
    width: 90%;
    max-width: 414px; 
}
.image2{
    display: block;
    width: 100%;
}

@media screen and (min-width: 300px){
    .navigation a{
        font-size: 25px;
    }
    .navigation li{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media screen and (min-width:600px){
    .navigation a{
        font-size: 45px;
    }
    .navigation li{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text{
       font-size: 43px; 
    }
    .header{
        padding-top: 140px;
        font-size: 27px;
    }
}
@media screen and (min-width:1000px){
    .navigation a{
        font-size: 55px;
    }
    .navigation li{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text{
       font-size: 53px; 
    }
    .header{
        padding-top: 150px;
        font-size: 35px;
    }
}