@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.background {
    background-color: rgba(0,100,0,0.9)
}
.navigation {
    width: 100%;
    background-color: rgb(0, 100, 0);
    text-align:center;
    position:fixed;
    top: 0px;
    left: 0px;
    right:0px;
    border-width: 4px;
    border-color: rgb(0,50,0);
    border-style:solid;
    box-shadow: 10px;
    z-index: 9999;
}

.navigation li {
    display: inline-block; 
    padding-top: 5px;
    padding-bottom: 5px;
}
.navigation a {
    transition: 1s;
    text-decoration: none;
    text-decoration-color: black;
    color: black; 
    font-size: 15px;
    font-family: 'Acme',regular;
    
}
.navigation a:hover{
    transition: 1s;
    color:rgb(117, 255, 117);
}

.header {
    text-align: center;
    padding-top: 70px;
}

.text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: darkgreen;
    border-width: 4px;
    border-color: rgb(0,50,0);
    border-radius: 10px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: 'Montserrat',regular;
}

.image1{
    padding-top: 10px;
    display: block;
    margin: auto;
    width: 90%;
    max-width: 414px; 
}
.image2{
    display: block;
    width: 100%;
}

@media screen and (min-width: 300px){
    .navigation a{
        font-size: 20px;
    }
    .navigation li{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
@media screen and (min-width:600px){
    .navigation a{
        font-size: 35px;
    }
    .navigation li{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .text{
       font-size: 35px; 
    }
    .header{
        padding-top: 100px;
        font-size: 27px;
    }
}
@media screen and (min-width:800px){
    .navigation a{
        font-size: 40px;
    }
    .navigation li{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .text{
       font-size: 50px; 
    }
    .header{
        padding-top: 105px;
        font-size: 35px;
    }
}
@media screen and(min-width:1080px){
   .navigation a{
        font-size: 50px;
    }
    .navigation li{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .text{
       font-size: 27px; 
    }
    .header{
        padding-top: 140px;
        font-size: 35px;
    } 
}